/* home.js */
.todoApp_home {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0;
}

/* inputbox.js */

.todoApp_inputbox {
}
.todoApp_inputbox-input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px;
  height: 50px;
  box-sizing: border-box;
}

.todoApp__inputbox-add {
  padding : 12px;
  height: 50px;
  color: #1c7ed6;
  background-color: #d0ebff;
  border: none;
  width: 50px;
}

/* todolist */

.todoApp_list-title {
  font-weight: 600;
}

/* todoitem */

.todoApp_Item-checkBox {
  margin: 10px;
}